# IntelliJ IDEA
.idea/
*.iml
.idea/workspace.xml
.idea/markers/
.idea/modules.xml


# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Eclipse
.classpath
.project
.settings/

# Build
build/

# Java
*.class

# Environment files
.env
*.env

# Misc
*.swp
*.swo
